<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.firefishcomms.instagramlikegallery">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>

    <application
        android:hardwareAccelerated="true"
        android:largeHeap="true">

        <activity
            android:name=".activities.GalleryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ILG_AppTheme"
            android:label="@string/ILG_label_gallery_activity"/>
        <activity
            android:name=".activities.ImageEditingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ILG_AppTheme"
            android:label="@string/ILG_label_image_editing_activity"/>

        <activity
            android:name=".activities.SelectedImagesActivity"
            android:theme="@style/ILG_AppTheme"
            android:screenOrientation="portrait"/>

    </application>

</manifest>